@import '../../common/sass/variables';

.frame {
  display: flex;
  background-color: $color-white;
  border-radius: var(--sp-2);
  align-items: center;

  &__content {
    flex-grow: 1;
  }

  &__border-left {
    border-left: 6px solid $color-primary;
  }
}
