@import './../../common/sass/variables.scss';

.change-password {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 260px;
  padding-bottom: 30px;
  &__card {
    width: 70%;
  }

  &__header {
    height: 80px;
    border-radius: 10px;
    background-color: $color-highlight;
    display: flex;
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;

    &-icon {
      cursor: pointer;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__input {
    width: 70%;
    margin: 30px auto;
    height: 70px;
    input {
      height: 40px;
    }
    label {
      font-size: 18px;
    }
  }

  &__actions {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    button {
      width: 140px;
      height: 50px;
      font-size: 18px;
    }
  }
}
