@import './../../common/sass/variables.scss';
.chat {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 280px;

  &__card {
    width: 98%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    &--wrapper {
      padding: 40px;
      height: calc(100vh - 110px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__image {
    img {
      height: 50px;
      width: 50px;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: $color-grey-l20;
    }
  }

  &__message {
    max-width: 70%;
    padding: 10px 20px;
    background-color: #d4e2fa;
    margin-top: 2px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 0.6px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    &--me {
      align-items: end;
      .chat {
        &__header {
          justify-content: right;
        }

        &__message {
          background-color: #2b76f7;
          color: white;
        }
      }
    }
  }

  &__input {
    height: 100px;
    display: flex;
    padding: 2px 20px;
    justify-content: space-between;
    align-items: center;
    .text-area {
      width: 84%;
      height: 50px;
      padding-right: 20px;
    }
    textarea {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__call {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $color-grey-l80;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg {
      width: 56%;
      height: 56%;
    }
  }
}
