@import '../../../../common/sass/variables.scss';

.online-bar {
  position: fixed;
  left: 10px;
  top: 80px;
  width: 270px;
  ////////////////////
  margin-bottom: 10px;
  &__card {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 100px);
  }

  &__title {
    font-size: 18px;
    color: $color-grey;
  }

  &__child {
    &--chat {
      background-color: $color-grey-l80;
    }
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    padding: 4px;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    &-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }

    &-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      background-color: aquamarine;
    }
  }
}
